<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>General report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Topics by course category </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th> Category </th>
                        <th> Amount </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${topicsByCourseCategory.empty}">
                        <td colspan="2"> No entries </td>
                    </tr>

                    <tr th:each="topic : ${topicsByCourseCategory}">
                        <td th:text="${topic.category}"></td>
                        <td th:text="${topic.amount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>